datepicker-button {
  cursor: pointer;
  button {

  cursor: pointer;
    font-size: 17px;
    outline: none;
    border-radius: 64px;
    padding: 0 26px;
    border-color: transparent;
    color: #488aff;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    height: 18px;
    margin: 4px 2px;
    overflow: hidden;
    font-weight: 500;
    text-transform: uppercase;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms cubic-bezier(0.4, 0, 0.2, 1), color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    z-index: 0;
    display: inline-block;
    border: 0;
    line-height: 1;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    font-kerning: none;
    user-select: none;
    contain: content;

    background-color: white;
    transition: 0.2s linear;

    &.activated {
      background-color: lightblue;
      transition: none;
    }
  }
}
