zerbus-datepicker {
  $cell-width: 40px;
  font-size: 13px;

  .datepicker-month-view {
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    z-index: 1000;
  }

  .month-header {
    font-size: 14px;
    color: grey;
    text-transform: uppercase;

    th {
      padding-top: 10px;
      padding-left: 10px;
      text-align: left;
    }
  }

  .table-divider {
    background-color: lighten(grey, 40%);
    margin-bottom: 2px;
  }

  .week-header {
    font-size: 11px;
    color: grey;
  }

  th.day {
    width: $cell-width;
    margin-top: 5px;
    text-transform: uppercase;
  }

  td.day {
    width: $cell-width;
    height: $cell-width;
  }

  .datepicker-year-selector, .datepicker-month-selector {
    th {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
    }
  }

  .datepicker-year-selector {
    font-size: 10px;
  }

  .datepicker-month-selector {
    font-size: 17px;
  }

  .back-icon {
    height: 15px;
    width: 15px;
    background-image: url('assets/icon/back-arrow.svg');
    display: inline-block;
  }

  .next-icon {
    height: 15px;
    width: 15px;
    background-image: url('assets/icon/next-arrow.svg');
    display: inline-block;
  }

  tr {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .datepicker-icon {
    margin: 10px 15px;
    color: cadetblue;
    font-size: 15px;
    cursor: pointer;
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .01;
    transform: translateZ(0);

    contain: strict;
  }
}
