zerbus-datepicker-cell {
  cursor: pointer;

  td, th {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .day-content:not(.selected):not(.disabled):hover::before {
    content: '';
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 64px;
    background-color: lighten(lightgrey, 10%);
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 3px;
  }

  .day-content {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .selected {
    color: white;
    font-weight: bold;
  }

  .selected::before {
    content: '';
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 64px;
    background-color: darkblue;
    position: absolute;
    z-index: -1;
    top: 3px;
    left: 3px;
  }

  .today::before {
    content: '';
    display: inline-block;
    width: 34px;
    height: 34px;
    box-sizing: border-box;
    border-radius: 64px;
    border: 1px solid darkblue;
    position: absolute;
    top: 3px;
    left: 3px;
  }

  .disabled {
    cursor: auto;
    color: grey;
  }
}
